<div class="container form_width">

      <form method='post' action='/login' class="form-signin">
        <h2 class="form-signin-heading">Welcome Back Please Login</h2>
        <br>
        <input type="text" name="merchant[email]" class="form-control" placeholder="Email address" autofocus>
        </br>
        <br>
        <input type="password" name="merchant[password]" class="form-control" placeholder="Password">
        </br>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn-primary login" type="submit">Sign in</button>
      </form>


  </div>

