<div class="Hello">HELLO WORLD</div>

<div class="blurb">eCoin was made by Stevie-MAC and MJ in General Assembly's first ever WDI Sydney 2013 course</div>

<br>

<div class="row">
  <div class="col-lg-5 profile" >
    <h3>Stevie-MAC</h3>
<img src='assets/yb.gif' class="pic">
</div>
  <div class="col-lg-5 profile" >
    <h3>MJ</h3>
<img src='assets/profile.jpg' class="pic">
</div>
</div>


