<div class="jumbotron">
      <div class="container">
        <h1>eCoin</h1>
        <p class="tag">Unlock the power of loose change.</p>
        <% if @merchant.present? %>
        <a href="/merchants/balance" class="btn-primary login2 ">Start Here &raquo;</a>
        <%else%> <a href="/merchants/new" class="btn-primary login2 ">Start Here &raquo;</a>
          <% end %>
        >
      </div>
    </div>


<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2><i class="icon-usd icon"></i> Loose Change</h2>
          <p>Every day, millions of unwanted loose change sits around in empty jars, airport lounges and dusty dressers.</p>
          <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
        </div>
        <div class="col-lg-4">
          <h2><i class="icon-exchange"></i> Exchange</h2>
          <p>eCoin is a digital wallet for loose change. In exchange for your customers mobile number, eCoin stores their coin balance. Great flexibility for repeat customers on the go. </p>
          <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
       </div>
        <div class="col-lg-4">
          <h2><i class="icon-thumbs-up"></i> Empower</h2>
          <p>The combined amount of loose changes overlooked in a regular daily transaction is staggering. Pooling these amounts towards a bigger goal can have transending effects.</p>
          <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
        </div>
      </div>

      <hr>
