<div class="edit2">
  <h1>Enter the new phone number</h1>
<%= form_for @user do |f| %>

  <%= f.text_field :phone %>
  <input type="submit" value="update" class="btn btn-primary" id="edit">
  <%end%>
</div>