<ul>
  <form method='post' action='/sendtxt'>
      <input type='text' name='phone' placeholder='Input phone number'>
      <input type='text' name='amount' placeholder='Input amount'>
      <button>send text message</button>
    </form>
</ul>





