<div class="edit">
<h1>Edit a User's phone number</h1>
 <form method='get' action='/phone'>
        <input type="text" name="phone" placehoder="Enter a phone number">
        <input type="submit" value="lookup" class="btn btn-primary">
</form>
</div>


