  <div class="container">

      <form method='post' action='/merchants' class="form-signin">
        <h2 class="form-signin-heading">Please Register</h2>
        <br>
        <input type="text" name="merchant[name]" class="form-control" placeholder="Name" autofocus>
        </br>
        <br>
        <input type="text" name="merchant[email]" class="form-control" placeholder="Email address" autofocus>
        </br>
        <br>
        <input type="password" name="merchant[password]" class="form-control" placeholder="Password">
        </br>
        <br>
        <input type="password" name="merchant[password_confirmation]"class="form-control" placeholder="Password confirmation">
        </br>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block custom" type="submit">Complete Registration</button>
      </form>

    </div>