body {
  margin-top: 100px;
}

.main {

  min-height: 450px;
}

.form-control {
  width: 300px;

}

.custom {
  width: 300px;

}

#chart {
  height: 250px;
  width: 50%;
}

.check {
  font-size: 100px;
}

.invisible {
  display: none!important;
}


