      <footer>
      <div id="footer col-lg-8">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/about">About Us</a></li>
          <li><a href="/">eCoin!</a></li>
          <li><a href="/works">How It Works</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      <div class="navbar pull-right">
      <ul class="nav navbar-nav">
        <p>&copy;  2013 eCoin LLC. </p>
      </ul>
      </div>
      </div>
      </footer>